/venv/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/flink-sql-connector-kafka-3.2.0-1.19.jar
/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
__pycache__/config.cpython-310.pyc
device_stats/part-101bf30a-a549-4cbf-9d6a-fc18af23702b-task-0-file-0
